@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Permanent Marker', cursive; */
    /* font-family: 'Roboto Slab', serif; */
    /* font-family: 'Source Sans Pro', sans-serif; */
}
body{
    padding: 0;
    margin: 0 auto;
    width: 100%;
}